body {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 100px;
    padding: 18px;
    justify-content: center;
    align-items: center;
}

.header-top {
    display: flex;
}

.header ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header-bottom {
    display: flex;
    margin: 60px 150px;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.header-bottom-right {
    flex-basis: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.content .information {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
}

.card img {
    border-radius: 25px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px;
}

.call-to-action-container {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.call-to-action-box {
    display: flex;
    padding: 20px;
}

.footer {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.header, .footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7Eb;
}

.header .heading{
    font-size: 48px;
    font-weight: 800;
}

.header .logo {
    font-size: 24px;
}
.header .logo,.heading {
    color: #F9FAF8;
}

.information .heading {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

button {
    border-color: white;
    border-width: 2px;
    border-radius: 25px;
}

button, .call-to-action-box {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 360px;
    margin-bottom: 15px;
}

.quote .text {
    font-size: 36px;
}

.quote .author {
    font-size: 20px;
    text-align: right;
}


.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  