body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header {
    display: flex;
    flex-direction: column;

}

.header-top {
    display: flex;
}

.header-bottom {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.content .information {
    display: flex;
    flex-direction: column;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.call-to-action-container {
    display: flex;
    background-color: lightblue;
}

.call-to-action-box {
    display: flex;
}

.footer {
    display: flex;
}

.header, .footer {
    background-color: blue;
}