h1 {
    text-align: center;
    color: green;
}

.main-container {
    width: 400px;
    background: #efeffa;
    padding: 25px;
    margin: 16px auto;
}

h1.coffee
{
    color: brown;
}

body {
    background-color: #cedede;
}

body.coffee {
    background-color: #cc8531;
}

.footer {
    margin-top: 25px;
    font-size: 13px;
    text-align: center;
}
